[submodule "libraries/fmt"]
	path = libraries/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "libraries/scnlib"]
	path = libraries/scnlib
	url = https://github.com/eliaskosunen/scnlib.git
[submodule "libraries/dyncall"]
	path = libraries/dyncall
	url = https://github.com/LWJGL-CI/dyncall.git
[submodule "libraries/date"]
	path = libraries/date
	url = https://github.com/HowardHinnant/date.git
[submodule "libraries/PortableBitfields"]
	path = libraries/PortableBitfields
	url = https://github.com/KKoovalsky/PortableBitfields.git
