[submodule "libraries/fmt"]
	path = libraries/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "libraries/scnlib"]
	path = libraries/scnlib
	url = https://github.com/eliaskosunen/scnlib.git
[submodule "libraries/dyncall"]
	path = libraries/dyncall
	url = https://github.com/LWJGL-CI/dyncall.git
